[data-theme="light"] {
  --text-color: #000000;
  --stroke-color: #ffffff;
  --line-color: #7b6148; 
  --background-highlight: #fbe6c3;
  --background: #fcfaf4;
}

[data-theme="dark"] {
  --text-color: #ffffff;
  --stroke-color: #000000;
  --line-color: #ad946f;
  --background-highlight: #2d253c;
  --background: #17131f;
}

body { margin: 0; }

.model-label {
  color: var(--text-color);
  font-size: 0.7em;
  text-shadow: 
    2px 0 var(--stroke-color), 
    -2px 0 var(--stroke-color), 
    0 2px var(--stroke-color), 
    0 -2px var(--stroke-color),
    1px 1px var(--stroke-color), 
    -1px -1px var(--stroke-color), 
    1px -1px var(--stroke-color), 
    -1px 1px var(--stroke-color);
}

.model-gui {
   width: 100%;
   height: 100%;
   top: 0px;
   overflow: hidden;
   position: absolute;
   pointer-events: none;
  z-index: 11;
}

.gui-sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 25%;
  color: var(--line-color);
  height: 100%;
  font-weight: bold;
  top: 15%;
  right: 50px;
}

.page-controls {
  position:absolute;
  width: fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--background-highlight);
  border-left: 2px solid var(--line-color);
  border-right: 2px solid var(--line-color);
  border-bottom: 2px solid var(--line-color);
  border-radius: 0 0 10px 10px;
  padding: 10px;
  pointer-events: all;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.slidecontainer {
  width: 100%;
  padding: 5px;
  pointer-events: all;
  user-select: none;

  p {
    color: var(--line-color); 
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 0.8em;
  }
}

.slider {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%; 
  height: 20px;
  border-radius: 20px; 
  background: var(--background-highlight);
  border: 2px solid var(--line-color);
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  margin: 0px;
   width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--line-color);
  outline: none;
  border: none;
}

.gui-textarea {
  display: flex;
  position: absolute;
  max-width: 30%;
  color: var(--line-color);
  height: 100%;
  font-weight: bold;
  top: 15%;
  left: 50px;
}

.arrows-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  margin: auto;
  width: fit-content;
  display: flex;
  gap: 20px;
  padding: 5px;
}

.arrow {
  padding: 10px;
  background-color: var(--background-highlight);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  user-select: none;
  cursor: pointer;
  pointer-events: all;
  color: var(--line-color);
  border: 2px solid var(--line-color);
}

.arrow:hover {
  background-color: #ffd57244;
}

/* .model-dropdown { */
/*   appearance: none; */
/*   width: 200px; */
/*   overflow: hidden; */
/*   background-color: var(--background); */
/*   border-radius: 10px; */
/*   border: 2px solid var(--line-color); */
/*   color: var(--line-color); */
/*   padding: 3px;  */
/*   padding-left: 10px; */
/*   outline: none; */
/* } */


